@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

button {
  cursor: pointer !important;
}

@layer utilities {
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: light;
      scroll-behavior: smooth
    }
  }

  .animate-carousel:hover {
    animation-play-state: paused;
  }

  .animate-carousel_reverse:hover {
    animation-play-state: paused;
  }

  .nature_green {
    background-color: #f8fcee;
  }
}

.orange-custom{
  background-color: rgb(250, 209, 148);
  background: radial-gradient(#ffe4bb, #fdb252);
}

.custom-container{
  max-width: 1200px !important;
}

.product_card :hover{
  background: rgba(253, 217, 170, 0.5)
}


@layer utilities {
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading='lazy'] {
      clip-path: inset(0.6px);
    }
  }

  a,
  input,
  button {
    @apply focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
  }

  .even_shadow{
    -webkit-box-shadow: 0px 10px  1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
  }

  .shop_now_button{
    background: #222222;
    color: white;
  }
  .custom-float {
    animation: float 5s infinite;
  }

  .custom-breath {
    animation: breath 5s infinite;
  }

  @keyframes breath {
    0% {
      scale: 0.98;
    }

    50% {
      scale: 1;
    }

    100% {
      scale: 0.98;
    }
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }

    50% {
      transform: translatey(-20px);
    }

    100% {
      transform: translatey(0px);
    }
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}