@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
    font-family: Urbanist;
  }
}

.animate-carousel:hover {
  animation-play-state: paused;
}

.animate-carousel_reverse:hover {
  animation-play-state: paused;
}

.nature_green {
  background-color: #f8fcee;
}

@layer utilities {
  .whaaaat {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

.custom-float {
  animation: float 5s infinite;
}

.custom-breath {
  animation: breath 5s infinite;
}

@keyframes breath {
  0% {
    scale: 0.98;
  }

  50% {
    scale: 1;
  }

  100% {
    scale: 0.98;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}